# Ignore Terraform-related files
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock*
terraform.tfstate
terraform.tfstate.backup


registry.terraform.io/*
registry.terraform.io/
registry.terraform.io/hashicorp/aws/terraform-provider-aws_5.91.0_linux_amd64.zip
1.14.0.json
index.json
terraform-provider-kubectl*
terraform-provider-aws_5.91.0_linux_amd64*


# Ignore sensitive files
*.pem
*.env
*.zip
# *.tfvars
secrets.tfvars

# Ignore logs and system files
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/